<style>
      @font-face {
        font-family: "Raleway";
        src: url("./fonts/Raleway-ExtraBold.ttf") format("truetype");
      }

      @font-face {
        font-family: "Source Serif";
        src: url("./fonts/SourceSerifPro-Regular.ttf") format("truetype");
      }

      /* Light mode */
      :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
        --link-color: #0000ff;
        --logo-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 134 34'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.9005 18.5226v15.2076h12.2641c3.2345 0 6.0497-.6596 8.4456-1.9789 2.4259-1.3192 4.2977-3.1781 5.6158-5.5767 1.347-2.3986 2.021-5.2169 2.021-8.455 0-2.9383-.614-5.6067-1.842-8.0053-1.1976-2.4286-2.9946-4.3474-5.3905-5.7566-2.3659-1.4392-5.3159-2.1587-8.8499-2.1587H73.9005v8.976H77.77l-3.8695 7.7476Zm18.5983-5.1205c.569 1.2293.8536 2.6685.8536 4.3175 0 1.5891-.2846 3.0282-.8536 4.3174-.569 1.2593-1.3926 2.2487-2.4708 2.9683-1.0482.7196-2.336 1.0794-3.8634 1.0794h-3.504V9.4445h3.504c1.4975 0 2.7853.3448 3.8634 1.0344 1.0782.6895 1.9018 1.664 2.4708 2.9232ZM53.4365 22.9553h6.1998c.1942.7849.2912 1.6482.2912 2.5897 0 1.9189-.5241 3.4779-1.5723 4.6772-1.0182 1.1993-2.3959 2.0838-4.1329 2.6535-1.7371.5696-3.6538.8545-5.7502.8545H32.7938V1.799h18.5084c1.4975 0 2.7853.4047 3.8635 1.2143 1.1081.7795 1.9466 1.7989 2.5157 3.0581.599 1.2593.8984 2.5635.8984 3.9127 0 1.4692-.3893 2.8933-1.168 4.2725-.7487 1.3792-1.8868 2.4136-3.4141 3.1032.6707.1981 1.289.4509 1.8547.7581l-2.4159 4.8374Zm-2.7183-.6034c.2097.3897.3145.8545.3145 1.3941 0 .5397-.1198 1.0044-.3594 1.3942-.2096.3898-.5091.6896-.8985.8995-.3893.2099-.8236.3148-1.3027.3148h-6.9182v-5.3518h7.2326c.4493 0 .8386.1199 1.168.3597.3295.2399.584.5697.7637.9895Zm-9.1643-8.1852V9.2646h6.2443c.3893 0 .7338.09 1.0332.2698.3295.15.5841.4048.7637.7646.2097.3298.3145.7945.3145 1.3941 0 .6597-.1198 1.1694-.3594 1.5291-.2396.3598-.5391.6147-.8984.7646-.3594.1199-.7338.1799-1.1231.1799h-5.9748ZM19.9909 1.799h-9.7933L0 33.7302h8.9398l1.8868-6.2514h8.4905l1.9317 6.2514h8.8948L19.9909 1.799Zm-4.8966 8.5899 2.8302 11.2434h-5.7952l2.965-11.2434Z' fill='%23000'/%3E%3Cpath d='M105.384 11.7831c-.719 1.8589-1.078 3.7628-1.078 5.7116 0 2.0388.389 4.0476 1.168 6.0265.778 1.9488 1.871 3.7178 3.279 5.3068 1.438 1.5591 3.13 2.8184 5.076 3.7778 1.977.9295 4.148 1.3942 6.514 1.3942 1.827 0 3.669-.2848 5.526-.8545 1.857-.5996 3.519-1.4541 4.986-2.5635 1.468-1.1093 2.516-2.4435 3.145-4.0026l-7.143-4.2725c-.359.9594-.883 1.724-1.572 2.2936-.689.5697-1.453.9895-2.291 1.2593-.839.2399-1.662.3598-2.471.3598-1.138 0-2.171-.2249-3.1-.6746-.898-.4498-1.662-1.0644-2.291-1.8439-.629-.8096-1.108-1.724-1.437-2.7434-.33-1.0194-.495-2.0838-.495-3.1931 0-.9895.135-1.9789.405-2.9683.299-.9894.734-1.8889 1.303-2.6984.599-.8095 1.347-1.4541 2.246-1.9339.928-.5097 2.021-.7645 3.279-.7645.809 0 1.632.12 2.471.3598.868.2099 1.662.5996 2.381 1.1693.749.5697 1.318 1.3792 1.707 2.4286l6.694-4.7672c-1.109-2.0988-2.801-3.7778-5.077-5.037-2.276-1.2893-4.941-1.934-7.996-1.934-2.546 0-4.837.4648-6.873 1.3943-2.007.8994-3.714 2.1137-5.122 3.6428-1.407 1.5291-2.486 3.2381-3.234 5.127ZM64.0434 21.4646h-7.7992L67.1631 0v12.2655h7.7992L64.0434 33.7301V21.4646Z' fill='%23000'/%3E%3C/svg%3E");
        --bolt: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 22'%3E%3Cpath d='M5.4167 14H0L7.5833 0v8H13L5.4167 22v-8Z' fill='%23000'/%3E%3C/svg%3E");
      }

      /* Dark mode */
      @media (prefers-color-scheme: dark) {
        :root {
            --body-bg: #000000;
            --body-color: #FFFFFF;
            --link-color: #8cb4ff;
            --logo-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 134 34'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.9005 18.5226v15.2076h12.2641c3.2345 0 6.0497-.6596 8.4456-1.9789 2.4259-1.3192 4.2977-3.1781 5.6158-5.5767 1.347-2.3986 2.021-5.2169 2.021-8.455 0-2.9383-.614-5.6067-1.842-8.0053-1.1976-2.4286-2.9946-4.3474-5.3905-5.7566-2.3659-1.4392-5.3159-2.1587-8.8499-2.1587H73.9005v8.976H77.77l-3.8695 7.7476Zm18.5983-5.1205c.569 1.2293.8536 2.6685.8536 4.3175 0 1.5891-.2846 3.0282-.8536 4.3174-.569 1.2593-1.3926 2.2487-2.4708 2.9683-1.0482.7196-2.336 1.0794-3.8634 1.0794h-3.504V9.4445h3.504c1.4975 0 2.7853.3448 3.8634 1.0344 1.0782.6895 1.9018 1.664 2.4708 2.9232ZM53.4365 22.9553h6.1998c.1942.7849.2912 1.6482.2912 2.5897 0 1.9189-.5241 3.4779-1.5723 4.6772-1.0182 1.1993-2.3959 2.0838-4.1329 2.6535-1.7371.5696-3.6538.8545-5.7502.8545H32.7938V1.799h18.5084c1.4975 0 2.7853.4047 3.8635 1.2143 1.1081.7795 1.9466 1.7989 2.5157 3.0581.599 1.2593.8984 2.5635.8984 3.9127 0 1.4692-.3893 2.8933-1.168 4.2725-.7487 1.3792-1.8868 2.4136-3.4141 3.1032.6707.1981 1.289.4509 1.8547.7581l-2.4159 4.8374Zm-2.7183-.6034c.2097.3897.3145.8545.3145 1.3941 0 .5397-.1198 1.0044-.3594 1.3942-.2096.3898-.5091.6896-.8985.8995-.3893.2099-.8236.3148-1.3027.3148h-6.9182v-5.3518h7.2326c.4493 0 .8386.1199 1.168.3597.3295.2399.584.5697.7637.9895Zm-9.1643-8.1852V9.2646h6.2443c.3893 0 .7338.09 1.0332.2698.3295.15.5841.4048.7637.7646.2097.3298.3145.7945.3145 1.3941 0 .6597-.1198 1.1694-.3594 1.5291-.2396.3598-.5391.6147-.8984.7646-.3594.1199-.7338.1799-1.1231.1799h-5.9748ZM19.9909 1.799h-9.7933L0 33.7302h8.9398l1.8868-6.2514h8.4905l1.9317 6.2514h8.8948L19.9909 1.799Zm-4.8966 8.5899 2.8302 11.2434h-5.7952l2.965-11.2434Z' fill='%23fff'/%3E%3Cpath d='M105.384 11.7831c-.719 1.8589-1.078 3.7628-1.078 5.7116 0 2.0388.389 4.0476 1.168 6.0265.778 1.9488 1.871 3.7178 3.279 5.3068 1.438 1.5591 3.13 2.8184 5.076 3.7778 1.977.9295 4.148 1.3942 6.514 1.3942 1.827 0 3.669-.2848 5.526-.8545 1.857-.5996 3.519-1.4541 4.986-2.5635 1.468-1.1093 2.516-2.4435 3.145-4.0026l-7.143-4.2725c-.359.9594-.883 1.724-1.572 2.2936-.689.5697-1.453.9895-2.291 1.2593-.839.2399-1.662.3598-2.471.3598-1.138 0-2.171-.2249-3.1-.6746-.898-.4498-1.662-1.0644-2.291-1.8439-.629-.8096-1.108-1.724-1.437-2.7434-.33-1.0194-.495-2.0838-.495-3.1931 0-.9895.135-1.9789.405-2.9683.299-.9894.734-1.8889 1.303-2.6984.599-.8095 1.347-1.4541 2.246-1.9339.928-.5097 2.021-.7645 3.279-.7645.809 0 1.632.12 2.471.3598.868.2099 1.662.5996 2.381 1.1693.749.5697 1.318 1.3792 1.707 2.4286l6.694-4.7672c-1.109-2.0988-2.801-3.7778-5.077-5.037-2.276-1.2893-4.941-1.934-7.996-1.934-2.546 0-4.837.4648-6.873 1.3943-2.007.8994-3.714 2.1137-5.122 3.6428-1.407 1.5291-2.486 3.2381-3.234 5.127ZM64.0434 21.4646h-7.7992L67.1631 0v12.2655h7.7992L64.0434 33.7301V21.4646Z' fill='%23fff'/%3E%3C/svg%3E");
        --bolt: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 22'%3E%3Cpath d='M5.4167 14H0L7.5833 0v8H13L5.4167 22v-8Z' fill='%23fff'/%3E%3C/svg%3E");
        }
      }

      body {
        background: var(--body-bg);
        color: var(--body-color);
        padding: 1rem;
        max-width: 25rem;
        font-family: "Source Serif", serif;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: calc(100% - 2rem);
      }

      a { 
        color: var(--link-color);
      }

      h1,
      h2 {
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        margin-top: 2rem;
      }

      h3 {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        margin-top: 1rem;
      }

      #logo {
        background-image: var(--logo-image);
        background-repeat: no-repeat;
        color: transparent;
      }

      a.headerlink {
        color: transparent;
        text-decoration: none;
      }

      ul {
        padding: 0;
      }

      li {
        list-style-type: none;
        background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 22'%3E%3Cpath d='M5.4167 14H0L7.5833 0v8H13L5.4167 22v-8Z' fill='%23000'/%3E%3C/svg%3E");
        padding: 0 0 0 1.5rem;
        margin: 0;
        margin-bottom: 0.5rem;
        /* background-position: left 4px; */
        background-repeat: no-repeat;
        background-size: 1rem;
        background-image: var(--bolt);

      }

      @media print {
         .prompts > p {
          /* display: block!important; */

          page-break-after: always;
          font-size: 32px;
        }
      }
    </style>